h1 {
    text-align: center;
    color: #576F72;
    font-family: 'Corben', Georgia, Times, serif;
}

h3 {
    text-align: left;
    color: #7D9D9C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

body { 
    background: #E4DCCF
}

/* https://maisieh15.files.wordpress.com/2010/11/grunge1.jpg */
/* https://www.fnordware.com/superpng/pnggradHDrgba.png */

canvas {
    border: 2px solid black
}

footer {
    text-align:left;
    color: #576F72;
    font: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}