h1 {
    text-align: center;
    color: #576F72;
    font-family: 'Corben', Georgia, Times, serif;
}

h3 {
    text-align: left;
    color: #7D9D9C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body { 
    background: #E4DCCF
}


.chart-container {
    position: relative;
    width: 45vw;
    text-align: left;
}

canvas {
    border: 2px solid #6b4f4f;
    background-color: white;
}

footer {
    text-align:left;
    color: #576F72;
    font: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}