h1 {
    text-align: center;
    color: #576F72;
    font-family: 'Corben', Georgia, Times, serif;
}

body { 
    background: #E4DCCF
}

footer {
    text-align:left;
    color: #576F72;
    font: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}