<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abortion Rates per State</title>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/app.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" defer></script>
    <script src="../static/js/piecharts.js" defer></script>
    <script src= "../static/js/WORA data"></script>
    <!-- <script src="../static/data/states.json" defer></script> -->
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <style>
		html, body {
			height: 100%;
			margin: 25;
            border: 5;
            border-color: darkcyan;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
            border-color: darkcyan;
		}
	</style>

	<style>#map { width: 1500px; height: 600px; }
    .info { padding: 15px 20px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 10px; } 
    .info h4 { margin: 0 0 5px; color: #777; }
    .legend { text-align: left; line-height: 18px; color: #555; } 
    .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <h1>Abortion Rates per State</h1>
    <h3> This site was created due to the recent overturn of Roe vs Wade. We feel that people should have an understanding of the abortion laws that pertain to their state. Within this map, you will find information on pregnacy and abortion rates, frequency of abortions, the number of weeks before the abortion ban and more. Toggle with the features and click on a state below to find out more information.</h3>
    <p>


    </p>
    <div id="chart"></div>
    <div id='map'></div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="./static/Map2.js"></script>

<!-- <script>src="../static/data/states.json"</script> -->

    <h3>pie chart:</h3>
    <select id="selDataset"> onchange="optionChanged(this.value)">
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="District">Washington D.C.</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York">New York</option>
        <option value="North Carolina">North Carolina</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahama</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
      </select>
    <canvas id="piechart" width="400" height="400"></canvas>
    <!-- <script>
        fetch("../static/data/states.json")
            .then(response=> response.json())
            .then(data => {
                console.log(data)
            })
    </script> -->
<!-- <script> src= "./static/js/testing.js"</script> -->
<!-- 
<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script> -->
  

<!-- At the very bottom: -->
<p>



</p>
    <footer>
        <div>
            <li class="nav-item">
                <a class="nav-link" href="data.html">Click here for a condensed table of this information.</a>
              </li>
        </div>
        <div>
            <p>

            
            </p>
        </div>
        <div>
            To learn more about abortions visit:
        </div>
        <div>
            <ul>
                <li><a href= "https://www.guttmacher.org/news-release/2022/abortion-after-roe-new-comprehensive-map-tracks-abortion-policies-and-statistics">Abortion After Roe </a></li>
                <li><a href= "https://lawatlas.org/datasets/abortion-laws">State Abortion Laws</a></li>
                <li><a href= "https://datainnovation.org/2017/09/mapping-the-accessibility-of-abortion-clinics/">Accessibility of Abortion Clinics </a></li>
            </ul>
        </div>
        <div>
            Sources:
            <ul>
                <li><a href="https://data.guttmacher.org/regions">Guttmacher Institute Data Center</a></li>
            </ul>

        </div>
    </footer>

</body>

</html>